// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/css/all.min.css';



* {
    padding: 0;
    margin: 0;
}

.topic-avatar{
height: 52px;
width: 52px;
}

.badge{
    border-radius: 15px;
    padding: 4px 8px;
} 

.list-group{
    .list-group-item{
        border:none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }
}

.main-box{
    border:solid 3px whitesmoke;
    box-shadow:5px 5px 5px whitesmoke; 
    margin-top: 15px;
}
.management-box{
    .card{
        background-color: rgb(201, 185, 144);
        padding:auto 5px;
    }
    form{
        padding:15px
    }
    margin-top: 15px;
}

.display-none {
    display: none;
}
    