// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/css/all.min.css';



* {
    padding: 0;
    margin: 0;
}

.topic-avatar{
height: 52px;
width: 52px;
}

.badge{
    background-color: #d8d8d8;
} 

    